.bash_history
.bash_logout
.cache/
.landscape/
.lesshst
.local/
.motd_shown
.profile
.ssh/
.sudo_as_admin_successful
.viminfo
.vscode-server/
.vim/
.gitconfig
.fzf.bash
.wget-hsts
.vs-liveshare-keychain
.swp
.selected_editor
.python_history
.rangerdir
.mono/
